<h1>Guess the color RGB</h1>

<div class="color target" [style.background]="generatedColor$ | async"></div>

<div class="color guess" [style.background]="guessColor$ | async"></div>

<div class="form" [formGroup]="form">
    <label>R</label>
    <input type="range" min="0" max="255" formControlName="r">
    <label>G</label>
    <input type="range" min="0" max="255" formControlName="g">
    <label>B</label>
    <input type="range" min="0" max="255" formControlName="b">
</div>

<button *ngIf="isCorrect$ | async">Start Again</button>
