:host {
    border: 8px solid rgb(12, 12, 136);
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    background-color: rgb(202, 202, 224);
    box-shadow: 10px 10px 10px -5px rgba(0, 0, 0, 0.5), 
                inset 4px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 8px;

    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: repeat(6, auto);
}

app-card {
    margin: 4px;
}

